body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #FFFFFF; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #000000; 
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 1181px;
    height: 712px;
    margin-top: 154px;
    margin-left: 198px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}


form h1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    font-family: Inter;
}


form label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #FFFFFF; 
    background-color: transparent;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
}

form input[type="date"] {
    cursor: pointer;
}


form input[type="radio"] {
    margin-right: 10px;
  
}

form label.inline {
    display: inline;
    margin-right: 20px;
}


form input[type="checkbox"] {
    margin-right: 10px;
  
}


form button[type="submit"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF; /* Button color */
    color: #000000 ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 196px;
    height: 38px;
    top: 808px;
    left: 198px;
    gap: 0px;
    opacity: 0px;
    text-align: center;


}

form button[type="submit"]:hover {
    background-color: #CCCCCC; 
}


form small {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
